<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCJb3iLCKcph7URr2Qh8mq6ppNfbNaRYTk</string>
	<key>GCM_SENDER_ID</key>
	<string>201786042070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seyam.otp</string>
	<key>PROJECT_ID</key>
	<string>focused-module-393818</string>
	<key>STORAGE_BUCKET</key>
	<string>focused-module-393818.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:201786042070:ios:a05acde29db33dfec88b77</string>
</dict>
</plist>